<div class="p-2 flex flex-wrap">
  <div class="p-2 sm:w-64 w-full">
    <p>Телефон</p>
    {% include '/components/customers/select.html' %}
  </div>
  <div class="p-2 sm:w-64 w-full">
    <p class="text-sm">Имя</p>
      <div
        class="w-full border-b-2"
      >
        <input 
          x-model="selected.name"
          form="customer"
          {% if customer %} disabled {% endif %}
          autocomplete="off"
          name="name"
          />
      </div>
  </div>
  <div class="p-2 flex">
  {% if customer %}
    <p
      class="shadow-md bg-green-300/50 rounded-sm w-fit h-fit px-2 mx-2 text-green-800"
    >
      <i class="fa-solid fa-user-plus"></i>
      <i class="fa-solid fa-check"></i>
    </p>
    <div
      hx-get="/customer/select_form"
      hx-target="#customer_select_form"
      class="bg-primary hover:bg-secondary shadow-md rounded-sm w-fit h-fit px-2 mx-2"
    >
      <i class="fa-solid fa-remove relative"> 
        <input 
          class="absolute invisible"
          name="customer_id"
          value="{{customer.id}}"
          >
      </i>
    </div>
  {% else %}
    <button
      type="submit"
      form="customer"
      x-show="isValid"
      class="bg-primary hover:bg-secondary shadow-md rounded-sm w-fit h-fit px-2 mx-2"
    >
      <i class="fa-solid fa-add"></i>
    </button>
  {% endif %}
  </div>

</div>