<div x-data="{ width: window.screen.width }" class="w-full justify-items-center justify-between bg-primary">
    <template x-if="width >= 600">
        <div class="p-2 w-full flex justify-between ">
            <div>
                <a  class="basis p-2 hover:bg-secondary rounded-md" 
                    href={{ url_for( 'customers_page' ) }}
                >
                    Клиенты
                </a>
                <a  class="basis p-2 hover:bg-secondary rounded-md" 
                    href={{ url_for( 'tasks_page' ) }}
                >
                    Задачи
                </a>

            </div>
                <div class="p-2 flex flex-row">
                    <p class="text-sm text-stone-600 pr-4">Поиск</p>
                    <input name="name" />
                </div>
        </div>
    </template>

    <template x-if="width < 600">
        <div 
            x-data="{ barOpen: false }"
            class="basis-full flex justify-end  " 
        >
            <button 
                x-on:click="barOpen = !barOpen"
                class="text-xl p-2"
            > 
                mia
                <i class="fa-solid fa-bars"></i>
            </button>

            <div x-show="barOpen" class="absolute w-3/4 h-screen right-0 shadow-2xl bg-pattern z-20">
                    <button 
                        x-on:click="barOpen = !barOpen"
                        class="text-xl bg-secondary w-full p-2 grow text-right"
                    > 
                        mia
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <div class="flex flex-col">

                        <a 
                            class="pl-8 p-2 m-6 text-2xl underline decoration-secondary bg-orange-200 shadow-inner rounded-md underline-offset-8"
                            href={{ url_for( 'customers_page' ) }}
                        >
                            Клиенты
                        </a>
                        <a 
                            class="pl-8 p-2 m-6 text-2xl underline decoration-secondary bg-orange-200 shadow-inner rounded-md underline-offset-8"
                            href={{ url_for( 'tasks_page' ) }}
                        >
                            Задачи
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
