<div class="flex flex-wrap items-end p-2">
  <div class="p-2 flex flex-col md:w-64 w-full">
    <p>Телефон</p>
    <div class="">
        {% include '/components/customer/select.html' %}
    </div>
  </div>
  <div class="p-2 w-full md:w-64">
    <p class="text-sm">Имя</p>
      <input 
        x-model="selected.name"
        form="customer"
        {% if customer %} disabled {% endif %}
        autocomplete="off"
        name="name"
        class="w-full"
        />
  </div>
  <div class="p-2 flex">
  {% if customer %}
    <p
      class="shadow-md bg-green-300/50 rounded-sm w-fit h-fit px-2 mx-2 text-green-800"
    >
      <i class="fa-solid fa-user-plus"></i>
      <i class="fa-solid fa-check"></i>
    </p>
    <div
      hx-get="/customer/select_form"
      hx-target="#customer_select_form"
      class="bg-cyan-200 shadow-md rounded-sm w-fit h-fit hover:bg-fuchsia-300 px-2 mx-2"
    >
      <i class="fa-solid fa-remove relative"> 
        <input 
          class="absolute invisible"
          name="customer_id"
          value="{{customer.id}}"
          >
      </i>
    </div>
  {% else %}
    <button
      type="submit"
      form="customer"
      x-show="isValid"
      class="bg-cyan-300 shadow-md rounded-sm w-fit h-fit hover:bg-fuchsia-300 px-2 mx-2"
    >
      <i class="fa-solid fa-add"></i>
    </button>
  {% endif %}
  </div>

</div>