  <div class="relative ">
    <input
      class="absolute invisible"
      x-model="selected.id"
      name="customer_id"
    />
    <div class="flex">
      <div class="border-b-2 w-full">
        <input
          @input.debounce="searchCustomers()"
          @click="open = true"
          x-model="selected.phone"
          x-on:input.change="resetSelected()"
          x-mask:dynamic="selectMask"
          class="w-full"
          name="phone"
          type="text"
          form="customer"
          {% if customer %} disabled {% endif %}
          autocomplete="off"
          @keyup.escape="selected.phone = ''; selected.id = null; open = false"
        />
      </div>
      {% if not customer %}
      <a
        x-show="!selected.id"
        class="bg-primary shadow-md rounded-sm w-fit h-fit hover:bg-secondary px-2 mx-2"
        @click="selected.phone = ''"
      >
        <i class="fa-solid fa-remove"></i>
      </a>

      <p
        x-show="selected.id"
        class="shadow-md rounded-full w-fit h-fit px-2 mx-2"
      >
        <i class="fa-solid fa-check"></i>
      </p>
      {% endif %}
    </div>
    <div
      x-show="openDropdown"
      @click.outside="open = false"
      class="absolute z-10 inset-x-0"
    >
    <div class="p-1 rounded-sm backdrop-blur-sm bg-primary-opacity-70 w-full mt-1 flex flex-col text-md ring-1 ring-slate-200">
      <template x-for="customer in customers">
        <div class="text-sm">
          <a
            class="flex rounded-md flex-col w-full hover:bg-secondary-opacity-50 border-2 border-cyan-200/30 p-1"
            x-on:click="selected = customer; options = []; open = false"
          >
            <div class="w-full flex flex-wrap items-end">
              <label class="px-2">Тел:</label>
              <p x-text="customer.phone"></p>
            </div>
            <div class="w-full flex items-end">
              <label class="px-2">Имя:</label>
              <p x-text="customer.name" class="truncate ..."></p>
            </div>
          </a>
        </div>
      </template>
    </div>
    </div>
  </div>
