{% extends "base.html" %} {% block content %}
<div class="p-4">
  <a 
    class="p-2 bg-primary hover:bg-secondary rounded-md"
    href={{ url_for( 'new_order_page' ) }}
  >
    Создать 
  </a>
</div>

<div class="py-4 flex flex-wrap">
  <div class="p-2 w-full md:w-1/4">
    <p class="p-2 bg-white">Фильтры:</p>
  </div>
  <div class="p-2 w-full md:w-3/4">
    <p class="bg-white px-2">Задачи:</p>

    {% for order in orders %}
    <div class="my-2 p-2 bg-white border flex flex-wrap">
      <div class="w-full flex flex-row">
        <div class="p-1 flex flex-row w-3/12">
          <label>#</label>
          <p>{{ order.id }}</p>
        </div>
        <div class="p-1 flex flex-row w-3/12">
          <label>Срок сдачи:</label>
          <p class="px-2">{{ order.due_date }}</p>
        </div>
        <div class="p-1 flex flex-row w-3/12">
          <label>Создан:</label>
          <p>{{ order.time_created }}</p>
        </div>
      </div>

      {% for order_detail in order.order_details %}
      <div class="border">
        <p>{{order_detail.description}}</p>
        <p>{{order_detail.cost}}</p>
      </div>
      {% endfor %}

    </div>
    {% endfor %}
    <div class="flex flex-row">
      {% for page_number in range(filter.page_number - 1, filter.page_number + 2) %}
        {% if page_number > 0 and page_number <= pages_count %}
            <div class="p-1">
              <a 
                class="p-1 border-white rounded-sm bg-slate-200"
                {{ 'href=?page_number={}'.format(page_number) }}
              >
                {{ '{}'.format(page_number) }}
              </a>

            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% endblock %}
</div>
